body {
	padding: 2% 5% ;
}
.nod {
	display: none ;
}
.special-form-table {
	width: 100% ;
}
td[data-field=message] {
	word-break: break-all ;
	width: 50% ;
}
th , td {
	vertical-align: top ;
	padding: 5px ;
}